/*ESTILOS GLOBALES*/
*::after,*::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*max-width: 1200px;*/
    font-family:'Lato';
    margin: 0 auto;
    color: #333;
}
img{
    max-width: 100%;
}

.card{
    max-width: fit-content;
}

/*HEADER CON ANIMACIÓN*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    background-image: linear-gradient( 58.2deg,  #285bd4ba -3%, #ab35a373 49.3%, #ffcc705e 97.7% );
}

header .logo{
    margin-left: 20px;
}

header img{
    margin-left: 15px;
}

.container-icon{
    margin-right: 20px;
    justify-items: end;
    position: relative;
}

/*--------BOLSA DE COMPRAR------*/
.icon-card{
    width: 40px;
    height: 40px;
    stroke: black;
}
.icon-card :hover{
    cursor: pointer;
}
/*.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}*/
#contador-productos{
    font-size: 12px;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
    border-radius: 10px;
}
.icon-close{
    width: 25px;
    height: 25px;
}
.icon-close :hover{
    stroke: red;
    cursor: pointer;
}
.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid black;
    align-items: center;
}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8px;
}
.titulo-producto-carrito{
    font-size: 20px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.hidden-card{
    display: none;
}

/*------LISTAS EN EL HEADER--------*/

/*MAIN*/
.titulo{
    display: grid;
    place-items: center;
    margin-top: 50px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

/*CUERPO*/
img{
    border-radius: 10px;
}

/*BARRA DE NAVEGACIÓN CON ANIMACIÓN*/
.navbar{
    background-image: linear-gradient(135deg, #285bd4ba, #ab35a373, #ffcc705e, #285bd4ba);
    background-size: 500%;
    animation: fanimado 5s infinite;
    /*background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );*/
    text-align: center !important;
}

@keyframes fanimado {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/*CARRUSEL*/
.carousel{
    width: 1000px;
    height: auto;
    margin-top: 50px;
    max-width: fit-content;
}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CUERPO*/
main
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-content: center;
}
.seccion4 .card{
    width: 400px;
    height: fit-content;
}
.seccion1 .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion3 .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion4 .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*PARA LOS BOTONES DE PRODUCTOS*/
.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #474444;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 5px solid #734a91;
    transition: 0.3s;
    background-color: #e0b0ff;
  }
  
  .original-button:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
    background-image: linear-gradient(135deg, #285bd4ba, #ab35a373, #ffcc705e, #285bd4ba);
    color: white;
  }

  /*BOTONES DE PRÓXIMOS ALBUMES*/
  .seccion2 .card-footer{
    display: grid;
    position: center;
    align-items: center;
    justify-content: center;
  }
  .original-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ab35a373;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    position: center;
    transition: 0.3s;
    overflow: hidden;
  }
  
  .original-button2::before, .original-button2::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: center;
    left: 0;
    background-color: #ab35a373;
    transition: .3s;
  }
  
  .original-button2::before {
    top: 0;
  }
  
  .original-button2::after {
    bottom: 0;
  }
  
  .original-button2:hover::before {
    transform: translateX(-100%);
  }
  
  .original-button2:hover::after {
    transform: translateX(100%);
  }

/*PARA TODAS LAS TARJETAS*/
.card{
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 400px;
}
.seccion4 .card{
    height: 700px;
}

/*ESTILOS DE LOS TÍTULOS*/
.blockquote{
    color: #5F7DAF;
    text-align: center !important;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/*PIE DE PÁGINA*/
.pie-pagina{
    width: 100%;
    background-image: linear-gradient( 58.2deg,  #285bd4ba -3%, #ab35a373 49.3%, #ffcc705e 97.7% );
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 25px;
}
.pie-pagina .grupo-1 .box p{
    margin-bottom: 10px;
 }
 .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    background-color: #e0b0ff;
    text-align: center;
    transition: all 300ms ease;
 }
 .pie-pagina .grupo-2{
    background-color: #734a91;
    padding: 15px 10px;
    text-align: center;
    color: white;
 }
 .pie-pagina .grupo-2 small{
    font-size: 15px;
 }
 @media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
 }

/*ANIMACIÓN DE LA PÁGINA GENERAL*/
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

@media (min-width:280px) and (max-width: 653px){
    main .card{
        width:200px;
        display: flex;
        align-items: center;
    }
    main .card-footer{
        align-items: self-start;
        width: 200px;
        left: -100px;
    }
    main .card-footer .original-button{
        width: 100px;
        font-size: 15px;
    }
    .seccion2 .card{
        width:200px;
        display: flex;
        align-items: center;
    }
    .seccion2 .card-footer{
        align-items: self-start;
        width: 200px;
        left: -100px;
    }
    .seccion2 .card-footer .original-button2{
        width: 100px;
        font-size: 15px;
    }
    .seccion3 .card{
        width:200px;
        display: flex;
        align-items: center;
    }
    .seccion3 .card-footer{
        align-items: self-start;
        width: 200px;
        left: -100px;
    }
    .seccion3 .card-footer .original-button{
        width: 100px;
        font-size: 15px;
    }
    .seccion4 .card{
        width:200px;
        height:400px;
        display: flex;
        align-items: center;
    }
    .seccion4 .card-footer{
        align-items: self-start;
        width: 200px;
        left: -100px;
    }
    .seccion4 .card-footer .original-button{
        width: 100px;
        font-size: 15px;
    }
}

@media (min-width:400px) and (max-width: 920px){
    * .card{
        display: grid;
        position: center;
        align-items: center;
        margin-left: 25%;
    }
}